
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #d5ddea;
}
header{
    display: inline-block;
    float:left;
    margin: 3%;

}
a:link{
	color:#000;
}

#header-left{
    text-align: left;
    float: left;
}

#header-right{
    float:right;
    text-align: right;
}
section{
    /* margin: 5px; */
    
}
.price{
    text-align: right;
    display: initial;
    float: left;
    margin-top: 10%;
    margin-right: 0%;
}

img{
    border-radius: 10px 0 0 10px;
    width: 50%;
    height:30vh;
    margin-left: 0%;
    margin-right: 0%;
    display: inline-block;
    float: left;
}
.productTitle{
    display: block;
    margin-top: 10%;

}
div.top>h3{
    display: initial;
}
.card-item{
    border: none;
    background: #fff;
    width: 90vw;
    margin-bottom: 3px;

}

.btnAddToCart{
    border-radius: 35px;
    background-color: #6895dd;
    display: flow-root;
    font-size: 1em;
    position: relative;
    margin-top: 30px;
    bottom: 10px;
}
.btnAddToCart:hover{
    background-color: #1d68e0;

}
button:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

a:link{
    color: #000;
}
a:hover{
    color: #1d68e0;
    text-decoration: none;
    
}
a:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}
.card{
    width: 85vw;
}

 
@media(max-width: 768px){
   img{
       width: 100%;
   }
    
    .top>h4{
        font-size: 0.7em;
    }
    .top>p{
        font-size: 0.4em;
    }
    .productDetails{
        display: inline-block;
        float: left;
    }
    .btnAddToCart{
        font-size: 0.6em;
    }
    .price{
        font-size: 0.8em;
    }
    div.card>div.row> div:nth-child(1){
        width: 40%;
    }
    div.card>div.row> div:nth-child(2){
        width: 40%;
        color: green;
        display: inline-block;
        float: left;
    }
    div.card>div.row> div:nth-child(3){
        width: 20%;
        vertical-align:top;
        color: hotpink;
        display: inline-block;
        float: left;
        margin-top: 10px;
        
    }
}

@media(max-width: 470px){
    .card{
        margin-bottom: 2px;
        height: 40vh;
    }
  
    #header-left{
        display:block;
        float:left;
    }
    #header-right{
        float: left;
        text-align: left;
        display: block;
    }
    div>img{
        border-radius: 10px 10px 0px 0px;
        height: 25vh;
    }
    .productDetails{
        font-size: 10px;
        display: inline-block;
        float: left;
    }
    .btnAddToCart{
        font-size: 0.5em;
        margin-top: 0;
        bottom: 10px;

    }
    .top{
        font-size:0.6em;
    }
    .top>p{
        font-size: 0.4em;
    }
    .price{
        display: inline-block;
        vertical-align: top;
        margin-top: 5%;
        display: inline-block;
    }
    div.card>div.row> div:nth-child(1){
        display: block;
        float: left;
        width: 100% !important;
        
    }
    div.card>div.row> div:nth-child(2){
        width: 60%;
        color: green;
        display: inline-block;
        float: left;
    }
    div.card>div.row> div:nth-child(3){
        width: 35%;
        vertical-align:top;
        color: hotpink;
        display: inline-block;
        float: right;
        margin-top: 10px;
    } 
} 