body{
    font-family: Arial, Helvetica, sans-serif;
    background: #d5ddea;
}
header{
    display: inline-block;
    float: left;
    margin: 1%;
}
a:link{
	color:#000;
}

#header-left{
    text-align: left;
}

#header-right{
    float:right;
    text-align: right;
}
section{
    margin: 5px 10px;
    
}
.price{
    text-align: right;
    display: initial;
    float: left;
}

div>img{
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 30vh;
}
#productTitle{
    display: block;
    
}
div.top>h3{
    display: initial;
}
.card{
    border: none;
    background: #fff;
}

.btnAddToCart{
    border-radius: 35px;
    background-color: #6895dd;
    display: flow-root;
}
.btnAddToCart:hover{
    background-color: #1d68e0;

}
button:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

a:link{
    color: #000;
}
a:hover{
    color: #1d68e0;
    text-decoration: none;
    
}
a:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

@media(max-width: 768px){
    .top>h3{
        font-size: 10px;
    }
}
@media screen and (max-width: 320px){
    #header-right{
        float: left;
        text-align: left;
    }
    div>img{
        border-radius: 10px 10px 0px 0px;
        
        height: 40vh;
    }
    #productDetails{
        font-size: 10px;
        display: inline-block;
    }
    .btnAddToCart{
        font-size: 10px;
    }
    .top>h3{
        font-size:15px;
    }
    .price{
        display: inline-block;
        vertical-align: top;
    }

    div.card>div.row> div:nth-child(2){
        width: 60%;
        color: green;
        display: inline-block;
    
    }
     div>p.price{
        width: 30%;
        vertical-align:top;
        color: hotpink;
        display: inline-block;
    }
}