#section-yourcart{
    text-align: center;

    display: block;
    margin: 0 auto;
}
.card{
    border: none;
}
i{
    opacity: 0.5;
}
.remove-item{
  border: none;
  background-color: #fff;
  color: red;
  width: 90%;
}
.remove-item:hover{
  border: none;
  background-color: #fff;
  color: #fff;
  background-color: red;
}

.emptycard{
    display: none;
}
.yourcart{
    display: block;
    justify-content: center;
    left: 25%;
    width: 50%;
    height: 50%;
    top: 25%;
}
.left{
    text-align: left;
    width: 50%;
    left: 2%;
}
.img-responsive{
    width: 100%;

}
.right{
    text-align: right;
    width: 50%;
    float: right;
    right: 2%;
}
.form-group{
    margin: 0;
    padding: 0;
}
.btn-secondary{
    background-color: #c0cfe8;
    margin: 0px;

}
.form-row{
    margin: 0;
}
.qtyItem{
    width: 100%;
}
.qtyItem:focus{
    background-color: #f49542;
    color: #000;
}

.minus{
    border-radius: 10px 0px 0px 10px;
}
.plus{
    border-radius: 0px 10px 10px 0px;
}
@media(max-width: 320px){
    .img-responsive{
     width: 100%;
    }
    h4{
        font-size: 1em;
    }
    button{
        margin: 0;
    }
}
